<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ada.bilkent.transport"
    android:versionCode="2"
    android:versionName="1.0.1" >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:icon="@drawable/icon_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name=".BilkentTransportActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".locations.MT" />
        <activity android:name=".locations.TM" />
        <activity android:name=".locations.SM" />
        <activity android:name=".locations.MS" />
        <activity android:name=".locations.M" />
        <activity android:name=".locations.DS" />
        <activity android:name=".locations.DT" />
        <activity android:name=".locations.SD" />
        <activity android:name=".locations.TD" />
        <activity android:name=".locations.MD" />
        <activity android:name=".locations.DM" />
    </application>

</manifest>